/*
        HTML5 Reset :: style.css
        ----------------------------------------------------------
        We have learned much from/been inspired by/taken code where offered from:
        
        Eric Meyer                                        :: http://meyerweb.com
        HTML5 Doctor                                :: http://html5doctor.com
        and the HTML5 Boilerplate        :: http://html5boilerplate.com
        
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
        don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't screw with your line-heights
        gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover 
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

html {
    height: 100%;
    width: 100%;
    display: block;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Helvetica;
    background: rgb(46,142,191);
}

.main {
    background: #fff;
}

.navbar {
    background: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.container::after {
    clear: both;
}

.navbar-logo {
    float: left;
    width: 150px;
}

.navbar-links {
    float:right;
    margin-top: auto;
    margin-bottom: auto;
    height: auto !important;
    overflow: visible !important;
    position: relative;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-list > li {
    float: left;
    line-height: 150px;
}

.sep {

    border-left: 1px solid #ddd;
    width: 2px;
    margin: 50px 20px;
    height: 50px;
    line-height: 150px;
}

.registrati > a{
    box-shadow: 0 0 0 2px #dee0e5 inset;
    border-radius: 4px;
    padding: 15px !important;
}

.registrati > a:hover {
    background: #D35F65;
    box-shadow: 0 0 0 2px #D35F65 inset;
    border-radius: 4px;
    color: #fff;
    border-bottom-style: none !important;
}

.navbar-list > li > a {
    padding: 7px 0px 2px 0px;
    margin-left: 12px;
    margin-right: 12px;
    text-transform: uppercase;
    color: #22262f;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.navbar-list > li > a:hover {
    border-bottom: 3px solid #22262f;
}

footer {
    background: rgb(46,142,191);
    border-top: 5px solid rgb(39, 121, 163);
    padding: 30px 0;
}

.footer-links {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 75%;
    float: left;
    padding: 40px 0;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list > li {
    float: left;
    border-bottom: 3px solid rgb(39,121,163);
    margin: 0 10px;
}

.footer-list > li > a {
    padding: 15px 7px;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.footer-copyright {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 25%;
    float: left;
}

.footer-copyright > span {
    font-size: 18px;
    color: #fff;
}

.footer-copyright > span > a {
    color: #fff !important;
    text-decoration: none !important;
    border-bottom: 3px solid rgb(39,121,163);
}

.footer-copyright > p {
    color: rgb(9,91,133);
    font-size: 18px;
    padding: 20px 0;
}

header {
    padding: 40px 0;
}

.home-text {
    float: left;
    width: 60%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 50px;
}

.home-text > h1 {
    color: #3e4248;
    font-size: 2.05em;
}

.home-text > p {
    font-size: 1.4em;
    color: #747c81;
    text-align: justify;
    padding-right: 10px;
    padding-top: 20px;
}

.home-register {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 40%;
    overflow: auto;
}

.home-register::after {
    clear: both
}

.clear-fix {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.clear-fix::after {
    clear: both;
}

.nome-left {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
}

form {
    margin: 0;
    padding: 0;
}

.cognome-right {
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
}

.nome-left > div {
    margin: 5px;
}

.nome-left > div > input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cognome-right > div {
    margin: 5px;
}

.cognome-right > div > input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.nome {
    font-size: 18px;
    padding: 10px;
}

.cognome {
    font-size: 18px;
    padding: 10px;
}

.input-div {
    margin: 5px 5px 10px;
}

.input-div > input {
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.submit {
    width: 50%;
    float: right;
}

.submit-button {
    background: #D35F65;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    padding: 12px !important;
}

#codice-viaggio {
    border-top: 5px solid #2FAC91;
    background: rgb(95,197,174);
    padding: 70px 0;
}

.div-codice {
    text-align: center;
    color:#fff;
}

.div-codice > h2 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(58,116,93);
}

.div-codice > h3 {
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.input-codice {
    float: left;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input-codice > input {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
     width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.submit-codice {
    float:right;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.submit-button-codice {
    background: #2FAC91;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    border-radius: 2px;
    padding: 12px !important;
}

.form-codice {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#login-register {
    border-top: 5px solid #2FAC91;
    background: rgb(95,197,174);
    padding: 85px 0;
}

.login-register-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background: #fff;
    padding: 50px 30px;
    border-radius: 5px;
}

.login-register-container > h1 {
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    color: rgb(58,116,93);
    padding-bottom: 30px;
}

.login-register-container::after {
    clear: both;
}

.solo-register {
    width: 100%;
}

.dati-pacchetto-left {
    float: left;
    width: 40%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dati-pacchetto-right {
    float: right;
    width: 60%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dati-pacchetto-right > div > textarea {
    border-top-style: inset;
    border-color: rgb(197,197,197);
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.servizi-pacchetto {
    float: left;
    width: 33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.hor-minimalist-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 2px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.hor-minimalist-b th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 4px 2px;
    border-bottom: 2px solid #6678b1;
}
.hor-minimalist-b td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 2px 4px;
}
.hor-minimalist-b tbody tr:hover td
{
    color: #009;
}

.servizi-pacchetto {
    padding-top: 20px;
    padding-bottom: 20px;
}

.servizi-pacchetto > h2 {
    width: 100%;
    padding-bottom: 10px;
}

.profile-form {
    padding-top: 40px;
}

.profile-section-title {
    color: #3e4248;
    font-size: 2.05em;
}

#pacchetti-personali {
    border-top: 5px solid #2FAC91;
    background: rgb(95,197,174);
    padding: 70px 0;
}

#pacchetti-partecipati {
    border-top: 5px solid #BA464C;
    background: #D35F65;
    padding: 70px 0;

}

.cerca-pacchetto-header {
     float: left;
     width: 40%;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     padding-right: 50px;
 }

.cerca-pacchetto-header > h1 {
    color: #3e4248;
    font-size: 2.05em;
}

.cerca-pacchetto-header > p {
    font-size: 1.4em;
    color: #747c81;
    text-align: justify;
    padding-right: 10px;
    padding-top: 20px;
}

.dati-pacchetto-cerca {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 60%;
    overflow: auto;
}

.dati-pacchetto-cerca::after {
    clear: both
}

.data-left {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 60%;
}

.time-right {
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 40%;
}

.data-left > div {
    margin: 5px;
}

.data-left > div > input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
}

.time-right > div {
    margin: 5px;
}

.time-right > div > input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
}

.pacchetti-trovati > a {
    text-decoration: none;
}

.pacchetti-trovati > h2 {
    color: rgb(58,116,93);
    font-size: 2.05em;
    padding-bottom: 30px;
}

.pacchetto-trovato {
    float: left;
    width: 33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 14px;
    border-radius: 3px;
    background: #fff;
    height: 180px;
}

#section-pacchetti-trovati {
    border-top: 5px solid #2FAC91;
    background: rgb(95,197,174);
    padding: 5px 0;
}

#section-personalizza-trasporti {
    border-top: 5px solid #DA9012;
    background: rgb(243,169,43);
    padding: 5px 0;
}

.personalizza-trasporti > h2 {
    color: #C17700;
    font-size: 2.05em;
    padding-bottom: 30px;
}

#section-personalizza-hotels {
    border-top: 5px solid #BA464C;
    background: #D35F65;
    padding: 5px 0;
}

.personalizza-hotels > h2 {
    color: #A12D33;
    font-size: 2.05em;
    padding-bottom: 30px;
}

#section-personalizza-escursioni {
    border-top: 5px solid #2FAC91;
    background: rgb(95,197,174);
    padding: 5px 0;
}

.personalizza-escursioni > h2 {
    color: rgb(58,116,93);
    font-size: 2.05em;
    padding-bottom: 30px;
}

.tasti-mostra-pacchetto {
    text-align: center;
    box-sizing: border-box;
}

.tasti-mostra-pacchetto > p {
    font-size: 1.2em;
    color: #747c81;
    padding: 10px 0;
}



.tasti-mostra-pacchetto-sopra {
    width: 100%;
    padding: 20px 40px;
    background: #D35F65;

    box-sizing: border-box;
    border-radius: 2px;
}

.tasti-mostra-pacchetto-sotto {
    width: 48%;
    padding: 20px 40px;
    background: #D35F65;
    box-sizing: border-box;
    border-radius: 2px;
}

.left-mostra {
    margin-right: 5px;
    float: left
}

.right-mostra {
    margin-left: 5px;
    float: right;
}

.right-mostra-prenotato {
    margin-left: 5px;
    float: right;
    background: rgb(95,197,174);

}

.mostra-pacchetto-main-button {

    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4em;
    color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
}